header {
  background-color: rgb(199, 174, 106);
  grid-area: cabecalho;
}

aside {
  background-color: rgb(168, 108, 34);
  grid-area: lado-esquerdo;
}

main {
  background-color: rgb(67, 197, 169);
  grid-area: principal;
}

footer {
  background-color: rgb(122, 111, 99);
  grid-area: rodape;
}